# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
# docs: https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference

version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule: {interval: monthly, time: '02:00', timezone: 'Etc/UTC'}
    cooldown: {default-days: 2, semver-major-days: 10, semver-minor-days: 4, semver-patch-days: 2}
    groups:
      npm-production: {dependency-type: production}
      npm-development: {dependency-type: development}

  - package-ecosystem: github-actions
    directory: /
    schedule: {interval: monthly, time: '02:00', timezone: 'Etc/UTC'}
    cooldown: {default-days: 2}
    groups:
      github-actions: {patterns: ['*']}
